@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400&family=Montserrat:wght@400&display=swap');

$base-font: 'Barlow Condensed';
$paragraph-font: 'Montserrat';

$bg-dark: #000a10;
$bg-light: #0c2330;
$accent: #215254;
$text-dark: #3f7a7a;
$text-light: #55a5a3;