@import './partials/settings';

.detail {
    text-align: center;
    padding: 25px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;

    &__btn {
        position: relative;
        max-width: 200px;
        margin: 0 auto;
        padding: 10px;
        cursor: pointer;
        font-size: 20px;

        &::after {
            content: '';
            position: absolute;
            display: block;
            width: 0;
            height: 3px;
            bottom: 0;
            left: 0;
            background-color: $accent;
            transition: width 0.5s ease;
        }

        &:hover {
            &::after {
                width: 100%;
            }
        }
    }
}

span {
    font-weight: bold;
}